/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2014, 2:44:02 PM
    Author     : Evgeny
*/


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #557798;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearleft:after { 
    content: "."; /* Выводим текст после элемента (точку) */
    clear: left; /* Отменяем обтекание*/
    visibility: hidden; /* Прячем текст */
    display: block; /* Блочный элемент */
    height: 0; /* Высота */
}

.container {
    position: relative;
    margin: 10px auto;
    width: 960px;
    height: auto;
}

.header-block, .enroll-block {
    height: auto;
}

                                /*HEADER*/

#pos-logo {
    width: 223px;
    height: 168px;
    float: left;
    text-align: center;
}

    #pos-logo > img {
        margin-top: 15px;
        width: 211px;
        height: 148px;
    }

#pos-title {
    border-top: 1px solid #fcf9f9;
    width: 737px;
    height: 168px;
    float: left;
}

    #pos-title > h1 {
        color: #fcf9f9;
        margin-top: 35px;
        text-align: left;
        padding-left: 15px;
    }

                        /*ABOUT TEACHER*/

    .teacher-block {
        margin-top: 40px;
    }
    
        #pos-about-me {
            width: 660px;
            height: 400px;
            float: left;
        }
        
            #pos-about-me > img {
                width: 660px;
                height: 400px;
            }

        
        #pos-card-contact {
        width: 300px;
        height: 400px;
        float: left;
        background-color: #34495e;
        text-align: center;
        padding-top: 30px;
        }
        
            #pos-card-contact > img {
                width: 180px;
                height: 180px;
                border-radius: 120px;
                border: 2px solid #bdc3c7;
            }
            
            #pos-card-contact > span {
                font-size: 1em;
                color: #ffffff;
                background-color: #16a085;
                margin-top: 25px;
                padding: 4px;
                display: block;
                border-top: 1px #1abc9c dashed;
                border-bottom: 1px #1abc9c dashed;
            }
            
            .pos-social-butt-block {
                display: inline-block;
                text-align: center; 
                margin-top: 25px;
            }
            
                .pos-social-button {
                    width: 50px;
                    height: 50px;
                    margin-left: 8px;
                    float: left;
                }

                .social-button{
                    width: 50px;
                    height: 50px;
                    border-radius: 8px;
                }
    
                        /*CAROUSEL AND ENROLL FORM*/

.enroll-block {
    margin-top: 20px;
}

    #pos-carousel {
        width: 660px;
        float: left;
    }
    
        #pos-carousel > img {
            width: 660px;
            height: 400px;
        }

    #pos-form {
        width: 300px;
        height: 400px;
        float: left;
        background-color: #34495e;
        padding-top: 15px;
    }
    
        #name-field, #e_mail-field, #phone-field, #button-enroll {
            width: 260px;
            height: 40px;
            margin-left: 20px;
            margin-bottom: 10px;
            border-radius: 8px;
        }
        
        #name-field, #e_mail-field, #phone-field {
            color: #333333;
            border: 3px solid #bdc3c7;
            padding-left: 10px;
        }
        
        #button-enroll {
            font-size: 1.1em;
            color: #ffffff;
            background-color: #3498db;
            border: none;
        }
        
        #button-enroll:hover {
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            background-color: #2980b9;
        }
        
        #pic-mail {
            text-align: center;
            padding-top: 20px;
        }
        
            #pic-mail > img {
                width: 150px;
                height: 150px;
            }
            

            