/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2014, 2:44:02 PM
    Author     : Evgeny
*/


body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: #557798;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearleft:after { 
    content: "."; 
    clear: left; 
    visibility: hidden; 
    display: block; 
    height: 0; 
}

.container {
    position: relative;
    margin: 10px auto;
    width: 960px;
    height: auto;
}

.header-block, .teacher-block, .enroll-block {
    height: auto;
}

                                /*HEADER BLOCK*/

.logo {
    width: 223px;
    height: 168px;
    float: left;
    text-align: center;
    
}

    .logo > img {
        margin: 15px 0 0 0;
        width: 211px;
        height: 148px;
    }

.main-title {
    border-top: 1px solid #fcf9f9;
    width: 737px;
    height: 168px;
    float: left;
}

    .main-title > h1 {
        color: #fcf9f9;
        margin: 35px 0 0 0;
        text-align: left;
        padding: 0 0 0 15px;
    }

                        /*TEACHER BLOCK*/

    .teacher-block {
        margin: 40px 0 0 0;
    }
    
        #flavor_1 {
            width: 660px;
            height: 400px;
            float: left;
            background-color: #ffffff;
            border: 1px solid #16a085;
            padding: 10px;
        }
        
        .about-me {
            width: 300px;
            height: 400px;
            float: left;
            background-color: #34495e;
            text-align: center;
            padding: 30px 0 0 0;
        }
        
            .about-me > img {
                width: 180px;
                height: 180px;
                border-radius: 120px;
                border: 2px solid #bdc3c7;
            }
            
            .about-me > span {
                color: #ffffff;
                background-color: #16a085;
                margin: 25px 0 0 0;
                padding: 4px;
                display: block;
                border-top: 1px #1abc9c dashed;
                border-bottom: 1px #1abc9c dashed;
            }
            
            .social-btns {
                display: inline-block;
                text-align: center; 
                margin: 25px 0 0 0;
            }
            
                .social-btns > a {
                    display: inline-block;
                    width: auto;
                    height: auto;
                    outline: none;
                }
                
                .social-btns > a > img{
                    width: 50px;
                    height: 50px;
                    border-radius: 8px;
                    margin: 0 0 0 4px;
                }
                
                .social-btns > a > img:hover {
                    box-shadow: 0 8px 12px -8px #5685b3;
                }
    
                        /*COURCE BLOCK*/

.enroll-block {
    margin: 20px 0 0 0;
}

    .about-cource {
        width: 660px;
        height: 400px;
        float: left;
    }
    
        .about-cource > h2 {
            height: 38px;
            background-color: #16a085;
            margin: 0;
            padding: 1px 0 1px 20px;
            color: #fcf9f9;
        }
        
    .price-cource {
        position: absolute;
        width: 114px;
        height: auto;
    }
        
        .price-cource > span {
            font-size: 1.6em;
            background-color: #d98282;
            height: 38px;
            margin: 20px 0 0 0;
            padding: 1px 4px 1px 20px;
            color: #f3efef;
            display: inline-block;
        }
        
    .cource-gallery {
        width: 660px;
        height: 362px;
        background-color: #ffffff;
        border: 1px solid #16a085;
        padding: 10px;
    }
        
        .cource-gallery > img {
            border: 1px solid #d7dde1; 
            width: 640px;
            height: 342px;
        }
        
    .short-description > span {
        position: absolute;
        font-style: italic;
        font-size: 1.2em;
        display: inline-block;
        background-color: #d98282;
        margin: 75px 0 0 0;
        padding: 8px;
        width: 170px; 
        height: 120px;
        opacity: 0.8;
        color: #ffffff;
        text-align: center;
        text-shadow: #333333 1px 1px 0;
    }
    
    .form-enroll {
        width: 300px;
        height: 400px;
        float: left;
        background-color: #34495e;
        padding: 15px 0 0 0;
    }
    
        #name-field, #e_mail-field, #phone-field, #button-enroll {
            width: 260px;
            height: 40px;
            margin: 0 0 10px 20px;
            border-radius: 8px;
        }
        
        #name-field, #e_mail-field, #phone-field {
            color: #333333;
            border: 3px solid #bdc3c7;
            padding: 0 0 0 10px;
        }
        
        #button-enroll {
            font-size: 1.1em;
            color: #ffffff;
            background-color: #3498db;
            border: none;
        }
        
        #button-enroll:hover {
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            background-color: #2980b9;
            cursor: pointer;
        }
        
    .pic-mail {
        text-align: center;
        padding: 20px 0 0 0;
    }
        
        .pic-mail > img {
            width: 150px;
            height: 150px;
        }
        
        
                        /* MORE INFO ABOUT COURCE */    

    #more-info-block {
        background-color: #ffffff; 
        display: none;
    }                
                        
        .more-info-btn-wrap {
            text-align: center;
            background-color: #3498db; 
        }

            #more-info-btn {
                margin: 6px 0 7px 0;
                font-size: 0.9em;
                color: #f3efef;
                display: inline-block;
                border-bottom: 1px dashed #fcf9f9; 
            }
        
        #more-info-btn:hover {
            cursor: pointer;
        }
        
        .more-info-text {
            margin: 30px 10px 30px 40px;
            border-right: 1px #bdc3c7 dashed; 
            width: 580px;
            height: auto;
            display: inline-block;
        }
            .more-info-text > h3 {
                color: #34495e;
                padding: 0 30px 20px 0;
                margin: 0;
                display: inline-block;
                width: 580px;
            }

            .more-info-text > p {
                font-size: 0.9em;
                width: 580px;
                height: auto;
                margin: 0;
                padding: 0 30px 20px 0;
                display: inline-block;
                text-align: justify;
            }
        
        
       


            